.App{
  text-align: center;
}
.App header{
  margin-top: 20px;
  color: rgb(65, 62, 62);
  font-size: 30px;
}
.meme span{
  color: White;
  font-size: 40px;
  position: absolute;
  margin-top: 30px;
  width: 100%;
  left: 0%;
  text-shadow: 2px 2px 5px black;
}
.meme span:nth-child(1){
  margin-top: 350px;
}
.meme img{
  width: 100%;
  height: 30%;
}

